src/main/resources/xsd/StressLabRows.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:element name="Rows">
    <xs:complexType><xs:sequence>
      <xs:element name="Row" maxOccurs="unbounded">
        <xs:complexType><xs:sequence>
          <xs:element name="region" type="xs:string" minOccurs="0"/>
          <xs:element name="docType" type="xs:string" minOccurs="0"/>
          <xs:element name="customer" type="xs:string" minOccurs="0"/>
          <xs:element name="created" type="xs:string" minOccurs="0"/>
          <xs:element name="amount" type="xs:string" minOccurs="0"/>
          <xs:element name="priority" type="xs:string" minOccurs="0"/>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>
