src/main/resources/xsd/StressLab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:element name="Lab">
    <xs:complexType>
      <xs:sequence><xs:element name="Batch">
        <xs:complexType><xs:sequence>
          <xs:element name="Order" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="region" type="xs:string"/>
                <xs:element name="docType" type="xs:string"/>
                <xs:element name="customer" type="xs:string"/>
                <xs:element name="created" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="priority" type="xs:integer"/>
                <xs:element name="lines">
                  <xs:complexType><xs:sequence>
                    <xs:element name="line" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="sku" type="xs:string"/>
                        <xs:attribute name="qty" type="xs:integer"/>
                        <xs:attribute name="price" type="xs:decimal"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence></xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="xs:integer"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence></xs:complexType>
      </xs:element></xs:sequence>
      <xs:attribute name="run" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
